
<div class="wrapper">
  <div class="Container">
        <!-- <div class="nav">
            <div class="logo">
                <i class="fas fa-cloud"></i>
            </div>
            <div class="menu">
                <ul class="navMenu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Listining</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Registration</a></li>
                </ul>
            </div>
        </div> -->
        <div class="header">
            <h1>GeoCPyy Deploy</h1>
            <p>A service that makes your life easier</p>
            <button type="button" (click)="OAuth()">OAuth</button>
        </div>
    </div>
</div>
